@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------
----font family name ----
-------------------------
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/





/*---------------
----fast section design___
----------------------------------*/
.continerWrap{
    width:1105px;
    margin:auto;
    overflow: hidden;
    border-radius: 20px;
}
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background: linear-gradient(to right, black , #272525);
}
.image{
    width:450px;
    margin: -7px 0px;
    padding: 0;
    overflow: hidden;
}
.image img{
    width: 100%;
}
/*-------fast section  text resignih*/
.contentBox h1{
    font-size: 3.2rem;
    padding:20px 50px ;
    color: white
}
.contentBox p{
    padding:0 50px ;
    font-family: arial;
    color:white;
    line-height: 1.3rem;

}
.contentBox a{
    width:120px;
    display: block;
    background-color: red;
    text-align: center;
    margin:0px 50px;
    padding:10px 20px ;
    text-decoration:
    none;
    color:
    white;
    border-radius: 7px;
    margin-top: 3.4rem;
}
.editIcon{
    padding: 4px 0px 0px 8px;
}