@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------
----font family name ----
-------------------------
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;

*/




*{margin:0; padding:0 ;box-sizing: border-box;}
/*---------------
----fast section design___
----------------------------------*/

.continerWrap{
    width:1205px;
    margin:2.4rem auto;
    overflow: hidden;
    border-radius: 20px;
}
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background: linear-gradient(to right, black , #272525);
}
.image{
    width:450px;
    margin: -7px 0px;
    padding: 0;
    overflow: hidden;
}
.image img{
    width: 100%;
}
/*-------fast section  text resignih*/
.contentBox h1{
    font-size: 3.2rem;
    padding:20px 50px ;
    color: white;
    margin-top :7.5rem;
    font-family:'Raleway', sans-serif;
}
.contentBox p{
    padding:0 50px ;
    font-family: arial;
    color:white;
    line-height: 1.3rem;
    font-family:'Dancing Script', cursive;

}
.contentBox a{
    width:140px;
    display: block;
    background-color: red;
    text-align: center;
    margin:0px 50px;
    padding:10px 20px ;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    margin-top: 3.4rem;
}
.editIcon{
    padding: 4px 0px 0px 8px;
}




/*--------------------------
---------secend section with gellary design--
--------------------------------*/
.secontBoxWrapper{
    width:1200px;
    margin:0 auto;
}
.upComing {
    width: 300px;
    background-color:#272525;
    padding: 3rem 0;
    margin:5rem 0;
    border-radius: .7rem;
}
.upComing .sem {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    margin:.7rem auto;
    background-color: white;
    width: 220px;
    border-radius: 5px;
    color:black;
    padding:8px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
/*****************************
****upcomming and gallery box layout*************
**************************/
.continerBoxsecnd {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
}














/*-----------------------------
********footer design********
_______________________________*/
footer{
    background-color: #272525;
}
.continerboxf{
    width:1105px ;
    margin:auto;
    color:white
}
.contentLink a{
    color :#8b8888;
    text-decoration: none;
    font-family:'Raleway', sans-serif ;
    
}
.contentLink {
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.goal{
    text-align: center;
    padding: 3rem 0rem;
    font-size:3.5rem;
    font-family:Lato', sans-serif;
}
